@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    nescom-light --default,
    aura;
}

@plugin 'daisyui/theme' {
  name: 'nescom-light';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #faf9f6;
  --color-base-200: #f3f1eb;
  --color-base-300: #e6e2d8;
  --color-base-content: #1e1e24;

  --color-primary: #ef3b3a;
  --color-primary-content: #ffffff;

  --color-secondary: #908c9c;
  --color-secondary-content: #ffffff;

  --color-accent: #d7302f;
  --color-accent-content: #ffffff;
  --color-neutral: #2d2d34;
  --color-neutral-content: #ffffff;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin 'daisyui/theme' {
  name: 'nescom-dark';
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-base-100: #141416;
  --color-base-200: #1e1e22;
  --color-base-300: #2a2a30;
  --color-base-content: #f4f4f6;

  --color-primary: #ef3b3a;
  --color-primary-content: #ffffff;

  --color-secondary: #908c9c;
  --color-secondary-content: #ffffff;

  --color-accent: #f55a59;
  --color-accent-content: #1e1e24;
  --color-neutral: #2a2a30;
  --color-neutral-content: #f4f4f6;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 80rem; /* 1280px - equivalent to max-w-7xl */

  @media (min-width: 640px) {
    padding-inline: 1.5rem;
  }
  @media (min-width: 1024px) {
    padding-inline: 2rem;
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-primary-content);
}
