{% load static %}
<header>
  <div class="max-lg:collapse bg-base-200 shadow-sm w-full rounded-md">
    <div class="max-w-7xl mx-auto">
      <input id="navbar-1-toggle" class="peer hidden" type="checkbox" />
      <label for="navbar-1-toggle" class="fixed inset-0 hidden max-lg:peer-checked:block"></label>
      <div class="collapse-title navbar">
        <div class="navbar-start">
          {% comment %} <label for="navbar-1-toggle" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </label> {% endcomment %}
          <button class="btn btn-ghost text-xl">
            <img class="h-8 w-8" src="{% static 'images/logo.png' %}" alt="NesCom RD" />
            NesCom RD
          </button>
        </div>
        {% comment %} <div class="navbar-center hidden lg:flex">
          <ul class="menu menu-horizontal px-1">
            <li>
              <button>Item 1</button>
            </li>
            <li>
              <details>
                <summary>Parent</summary>
                <ul class="p-2 bg-base-100 w-40 z-1">
                  <li>
                    <button>Submenu 1</button>
                  </li>
                  <li>
                    <button>Submenu 2</button>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <button>Item 3</button>
            </li>
          </ul>
        </div>
        <div class="hidden navbar-end lg:flex">
          <input type="text" placeholder="Search" class="input input-bordered w-64 lg:w-auto" />
        </div>
      </div>
      <div class="collapse-content lg:hidden z-1">
        <ul class="menu">
          <li>
            <button>Item 1</button>
          </li>
          <li>
            <button>Parent</button>
            <ul>
              <li>
                <button>Submenu 1</button>
              </li>
              <li>
                <button>Submenu 2</button>
              </li>
            </ul>
          </li>
          <li>
            <button>Item 3</button>
          </li>
        </ul>
      </div> {% endcomment %}
    </div>
  </div>
</header>
